version: "3"

services:
  app:
    image: welitonjjose/alts-wpp:1.1.10
    env_file: .env
    depends_on:
      - postgres
      - redis
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=production
      - RAILS_ENV=production
      - INSTALLATION_ENV=docker
    entrypoint: ["/bin/sh", "/entrypoint.sh"]
    command: ["bundle", "exec", "rails", "s", "-p", "4000", "-b", "0.0.0.0"]
    restart: always
    volumes:
      - storage_data:/app/storage
      - ./entrypoint.sh:/entrypoint.sh:ro

  sidekiq:
    image: welitonjjose/alts-wpp:1.1.10
    env_file: .env
    depends_on:
      - postgres
      - redis
    environment:
      - NODE_ENV=production
      - RAILS_ENV=production
      - INSTALLATION_ENV=docker
    entrypoint: ["/bin/sh", "/entrypoint.sh"]
    command: ["bundle", "exec", "sidekiq", "-C", "config/sidekiq.yml"]
    restart: always
    volumes:
      - ./entrypoint.sh:/entrypoint.sh:ro

  postgres:
    image: pgvector/pgvector:pg16
    restart: always
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=chatwoot
      - POSTGRES_USER=postgres

  redis:
    image: redis:alpine
    restart: always
    command: ["sh", "-c", 'redis-server --requirepass "$REDIS_PASSWORD"']
    env_file: .env
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"

volumes:
  storage_data:
  postgres_data:
  redis_data:
